.App {
  text-align: center;
}

.Landing-logo {
  height: 40vmin;
}

.Landing-header {
  background-color: rgb(12, 29, 15);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 10vmin;
  margin: 0 80vw 0 0;
}

.App-header {
  background-color: rgb(12, 29, 15);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 1px solid;
}

.App-link {
  color: #61dafb;
}

.body {
  min-height: 100vh;
}

.recipe-container {
  background-size: cover;
  background-position: center;
  height: 40vh;
  width: 40vh;
  margin: 8px 25px;
  border: 5px solid rgb(241, 241, 241);
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.recipe-container:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.1s;
}
